.friendList{
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item{
    width: 160px;
    padding: 10px;
    margin-bottom: 5px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: rgb(131, 127, 135);
    border: 1px solid #000000;

    /* box-shadow: 10px 10px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); */
    border-radius: 4px;
    box-shadow: 0 0 5px #424242, 0 0 10px #a59fa7;
}

.status{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.name{
    font-weight: 500;
    font-size: 15px;
    color: #000000;
}

.online{
    background-color: green;
}
.offline{
    background-color: red;
}