.transactionHistory{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 500px;

    box-shadow: 0 0 5px #a169b5, 0 0 10px #9d41bf;
    background-color: #4f4f4f;
}

.title{
    font-size: 18px;
    color: #000000;
    text-align: center;
    background-color: #7b7b7c;;

    padding: 10px;
}

.type{
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: #000000;
}

.amount{
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: #000000;
}

.currency{
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: #000000;
}

.transactionRow{
    background-color: #807e80;

}

.transactionRow:nth-child(2n) {
    background-color:#302f31;
}



  
